:root {
    --bodyColor: ;
    --font: ;
    --fontSize: ;
    --textColor: ;
    --titleColor: ;
    --linkColor: ;
    --visitedLinkColor: ;
    --codeColor: ;
    --highlightColor: ;
    --codeFont: ;
    --codeFontSize: ;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font), sans-serif;
    font-size: var(--fontSize); /*was 13, all other font-size are based on this*/
    line-height: 18px;
    color: var(--textColor);
    background-color: var(--bodyColor);
    margin: 10px 13px 10px 13px;
}

table {
    width: 100%
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}

td,th {
    border: 1px solid;
    padding: 3px 10px;
}

th {
    padding: 5px 10px;
}

a {
    color: var(--linkColor);
}

a:visited {
    color: var(--visitedLinkColor);
}

a:hover {
    color: var(--linkColor);
    text-decoration: none;
    filter: brightness(85%);
}

a img {
    border: none;
}

p {
    margin-bottom: 9px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--titleColor);
    line-height: 36px;
}

h1 {
    margin-bottom: 18px;
    font-size: calc(var(--fontSize) + 17px);
}

h2 {
    font-size: calc(var(--fontSize) + 11px);
}

h3 {
    font-size: calc(var(--fontSize) + 5px);
}

h4 {
    font-size: calc(car(--fontSize) + 3px);
}

h5 {
    font-size: calc(var(--fontSize) + 1px);
}

h6 {
    font-size: var(--fontSize);
}

hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid var(--titleColor);
    filter: brightness(130%);
}

mark {
    background-color: var(--highlightColor);
}

blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family: serif;
    font-style: italic;
}

blockquote:before {
    content:"\201C";
    font-size: calc(var(--fontSize) + 27px);
    margin-left:-10px;
    font-family: serif;
    color: var(--titleColor);
    filter: brightness(130%);
}

blockquote p {
    font-size: calc(var(--fontSize) + 1px);
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}

code, pre {
    font-family: var(--codeFont), monospace;
}

code {
    padding: 1px 3px;
    font-size: var(--codeFontSize);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: var(--codeColor);
}

pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: var(--codeFontSize);
    border: 1px solid var(--textColor);
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: var(--codeColor);
    border-radius: 6px;
}

pre code {
    font-size: var(--codeFontSize);
    padding: 0;
    background: transparent;
}

sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
